header {
    background:peachpuff;
    font-size: 2em;
    font-family: fantasy;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.Sekoya-Hicks {
    color: purple;
}

.header {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

img {
    width: 10em;
    height: 10em;
    margin-top: 2em;
    margin-left: 11em;
    border-style: ridge;
    border-radius: 50%;
}

#about-me{
    margin:3% auto 0;
    display: flex;
    justify-content: center;
    background: peachpuff;
}
h1 {
    color: purple;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    margin:5% auto 0;
}

#contact {
    background: peachpuff;
    margin-top: .5em;
}

h3 {
    color: purple;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

p {
    display: flex;
    justify-content: center; 
    font-family: fantasy;
    background: peachpuff;
}

#projects {
    display: flex;
    justify-content: center;

}
#project-list {
    display: table;
    padding-left: 46em;
    margin-top: .5em;
}

/* .social-media {
    display: flex;
    justify-content: center;
} */

a {
    display: flex;
    justify-content: center; 
    font-family: fantasy; 
    color: orange;
}